body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
}

#main-menu {
  min-height: 100vh;
  padding-left: 0;

  .section {
    padding-left: 0.75em;
    background-color: #ffffff;
    margin-top: 9px;
  }

  #header {
    background-color: #077bed;
    margin: 0;
    padding: 35px 15px;
    color: #ffffff;
    text-align: center;

    a {
      color: inherit;
    }
  }
}

#main-content {
  background-color: #ffffff;
}
