body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
}

#main-menu {
  min-height: 100vh;
  padding-left: 0;

  .collection {
    border: 0;

    a.collection-item {
      color: #077bed;
      text-transform: uppercase;

      i {
        margin-right: 10px;
        display: inline;
        vertical-align: middle;
      }
    }

    a.collection-item:not(.active):hover,
    a.collection-item.active {
      background-color: #077bed;
      color: #ffffff;
    }
  }

  #header {
    background-color: #077bed;
    margin: 0;
    padding: 35px 15px;
    color: #ffffff;
    text-align: center;

    a {
      color: inherit;
    }
  }
}

#main-content {
  background-color: #ffffff;
}
